body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
h1 {
    margin-bottom: 70px;
    text-decoration: underline;
}
.container {
    background-color: #E6E6FA;
    padding: 20px;
    margin-top: 27px;
    width: 50%;
    margin-left: 460px;
}
